/**
 * Common Definitions
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

@color_background: white;
@color_text: #333333;

/*
	System components rely on existence of following variables. Their
	removal is not advisable, however you are free to define new or
	changing existing values.
*/
@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@control_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;
