/**
 * Content Style Sheet
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Vladimir Anusic
 */

section {
	padding: @section_spacing calc(~'(100% - 1200px) / 2');
	background-color: @color_section_background;
	color: @color_text_white;

	&.single_element {
		background-color: @color_text_white;
		color: @color_form_text;
	}

	&.column_count_2 {
		text-align: center;

		> div {
			display: inline-block;
			vertical-align: top;
			width: calc(~'(100% - 1rem - 20px) / 2');
			margin-right: 1rem;

			html[dir=rtl] & {
				margin-left: 1rem;
				margin-right: 0;
			}

			&:nth-child(2),
			html[dir=rtl] &:nth-child(2) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&.column_count_3 {
		text-align: center;

		> div {
			display: inline-block;
			vertical-align: top;
			width: calc(~'(100% - 1rem - 30px) / 3');
			margin-right: 1rem;

			html[dir=rtl] & {
				margin-left: 1rem;
				margin-right: 0;
			}

			&:nth-child(3),
			html[dir=rtl] &:nth-child(3) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	form {
		background-color: @color_text_white;
		color: @color_form_text;
		padding: 1rem;

		label {
			padding: 1rem;
		}

		input,
		textarea {
			border: 1px solid @color_input_border;
			padding: 0.5rem;
			transition: all 0.3s;

			&:hover,
			&:focus {
				background-color: @color_input_effects;
				transition: all 0.3s;
			}
		}

		.controls {
			text-align: center;
		}

		button {
			background-color: @color_section_background;
			border: transparent;
			padding: @button_padding;
			transition: all 0.3s;

			&:hover,
			&:active,
			&:focus {
				transform: translateY(-8%);
				background-color: @color_input_effects;
				box-shadow: 0px 27px 23px -17px darken(@color_form_text, 50%);
				color: @color_text_white;
				cursor: pointer;
				transition: all 0.3s;
			}
		}
	}
}