/**
 * Content Mobile Style Sheet
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Vladimir Anusic
 */

section {
	padding: @control_spacing;
	background-color: @color_section_background;
	color: @color_text_white;

	.single_element {
		background-color: @color_text_white;
		color: @color_form_text;
	}

	form {
		background-color: @color_text_white;
		color: @color_form_text;
		padding: 1rem;

		label {
			padding: 0.5rem;
		}

		input,
		textarea {
			border: 1px solid @color_input_border;
			padding: 0.5rem;
			transition: all 0.3s;

			&:focus {
				background-color: @color_input_effects;
				transition: all 0.3s;
			}
		}

		.controls {
			text-align: center;
		}

		button {
			background-color: @color_section_background;
			border: transparent;
			padding: @button_padding;
			transition: all 0.3s;

			&:active {
				transform: translateY(-8%);
				background-color: @color_input_effects;
				box-shadow: 0px 27px 23px -17px darken(@color_form_text, 50%);
				color: @color_text_white;
				transition: all 0.3s;
			}
		}
	}
}