/**
 * Header Style Sheet
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */
@import (css) 'stock/header.css';


header {
	padding: @control_spacing;

	h1 {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	// home link with logo
	a {
		display: block;
		text-align: center;
		margin: 0 auto;

		figure.logo {
			display: inline-block;
			width: 100px;
			height: 100px;
			margin: 0;

			background-image: url(@logo);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}
