/**
 * Main Style Sheet
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov, Vladimir Anusic
 */
@import (reference) 'stock/functions.less';
@import (reference) 'themes.less';
@import 'common.less';
@import 'fonts.less';

// set logo file
@logo: ~'../images/logo.png';
@mask: 'none';

// load theme
.theme('default');

@import 'header_mobile.less';
@import 'content_mobile.less';
// @import 'footer_mobile.less';
@import (css) 'stock/copyright_mobile.css';

body {
	background-color: @color_background;
	color: @color_text;
	font-family: 'generic';

	// SVG sprite preload
	& > svg {
		display: none;
	}
}

input,
select,
textarea,
button {
	font-family: 'generic';
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}
