/**
 * Themes Style Sheet
 * Kodkod-Test-Template
 *
 * Copyright (c) 2018. by Way2CU, http://way2cu.com
 * Authors: Vladimir Anusic
 */

@color_form_background: white;
@color_form_text: black;
@color_blue: #0095A1;
@color_red: #E85641;
@color_green: #427F3B;

.theme('default') {
	@color_text_white: white;
	@color_section_background: @color_blue;
	@color_input_border: @color_blue;
	@color_input_effects: lighten(@color_blue, 30%);
}

.theme('red') {
	@color_text_white: white;
	@color_section_background: @color_red;
	@color_input_border: @color_red;
	@color_input_effects: lighten(@color_red, 30%);
}

.theme('green') {
	@color_text_white: white;
	@color_section_background: @color_green;
	@color_input_border: @color_green;
	@color_input_effects: lighten(@color_green, 30%);
}



// mixin used for publishing selected theme name
.theme(@name) {
	@theme: @name;
}
