/**
 * Generic Features Style
 * Kodkod Templates
 *
 * Copyright © 2018 Way2CU. All Rights Reserved.
 * Author: Vladimir Anusic
 */
@import (reference) '../../common.less';

article.kodkod.generic {
	margin: 1rem;
	padding: 1rem;

	h1, h2, h3, h4, h5, h6 {
		padding: 0;
		margin-bottom: @header_spacing;
	}
}