/**
 * Inline Features Mobile Style
 * Kodkod Templates
 *
 * Copyright © 2018 Way2CU. All Rights Reserved.
 * Author: Vladimir Anusic
 */

ul.kodkod.generic {
	margin: 0;
	padding: 0;
	text-align: center;

	& > li {
		display: block;
		margin: 1rem;

		& > svg {
			display: block;
			width: 60px;
			height: 60px;
			margin-bottom: 1rem;
		}

		& > div {
			margin: 0;
			padding: 1rem;
		}
	}
}